<section class="work section" id="work">
            <span id="myport" class="section__subtitle">My Portfolio</span>
            <h2 id="recent-work" class="section__title">Recent Works</h2>

            <div class="work__filters">


            </div>

            <div class="work__container container grid">
                <div class="work__card mix web">
                    <%= image_tag 'gui.png', alt: 'imagem ia gui',  class: 'work__img' %>
                    <h3 class="work__title">Gui IA</h3>
                    <hr class="gradient-hr">


                    <div class="tags-container">
                        <a class="tag">Python</a>
                        <a class="tag">GPT</a>
                        <a class="tag">Hugchat </a>
                        <a class="tag">Langchain</a>
                        <a class="tag">Streamlit</a>
                    </div>
                    <hr class="gradient-hr">

                    <%= link_to 'https://wendellast-gui.hf.space/', target: '_blank', class:     'work__button' do %>
                        Demo <i class='bx bx-right-arrow work__icon'></i>
                    <% end %>


                    <%= link_to 'https://github.com/wendellast/Gui/', target: '_blank', class:     'work__button' do %>
                       Github Link <i class='bx bxl-github'></i>
                    <% end %>
                    


                </div>



                <div class="work__card mix web">
                    <%= image_tag 'adote-um-pet.png', alt: 'Adote um pet',  class: 'work__img' %>
                    

                    <h3 class="work__title">Adote Um Pet</h3>

                    <hr class="gradient-hr">
                    <div class="tags-container">
                        <a class="tag">Python</a>
                        <a class="tag">Django</a>
                        <a class="tag">Redis</a>
                        <a class="tag">Postgresql</a>
                        <a class="tag">JavaScript</a>
                    </div>
                    <hr class="gradient-hr">

                     <%= link_to 'https://adoteumpet.up.railway.app/', target: '_blank', class:     'work__button' do %>
                        Demo <i class='bx bx-right-arrow work__icon'></i>
                    <% end %>
                    
                    <%= link_to 'https://github.com/Adote-um-Pet-Web/AdoteUmPet/', target: '_blank', class:     'work__button' do %>
                        Github Link <i class='bx bxl-github'></i>
                    <% end %>
                   

                  
                </div>
                <div class="work__card mix design">
                    <%= image_tag 'bookguardian.png', alt: 'Bookguardian',  class: 'work__img' %>
                    

                    <h3 class="work__title">BookGuardian</h3>


                    <hr class="gradient-hr">
                    <div class="tags-container">
                        <a class="tag">Python</a>
                        <a class="tag">Django</a>
                        <a class="tag">Oauth2</a>
                        <a class="tag">Postgresql</a>
                        <a class="tag">JavaScript</a>
                    </div>
                    <hr class="gradient-hr">


                     <%= link_to 'https://book-guardian-production.up.railway.app/', target: '_blank', class:     'work__button' do %>
                        Demo <i class='bx bx-right-arrow work__icon'></i>
                    <% end %>

                     <%= link_to 'https://github.com/A3-P/Book-Guardian/', target: '_blank', class:     'work__button' do %>
                        Github Link <i class='bx bxl-github'></i>
                    <% end %>
                    
                </div>

                <div class="work__card mix web">
                    <%= image_tag 'sarah_example.png', alt: 'Sarah',  class: 'work__img' %>

                    

                    <h3 class="work__title">Sara IA</h3>

                    <hr class="gradient-hr">
                    <div class="tags-container">
                        <a class="tag">Python</a>
                        <a class="tag">PyQt5</a>
                        <a class="tag">ChaterBot</a>
                        <a class="tag">Sqlite3</a>
                        <a class="tag">SpeechRecognition </a>
                    </div>
                    <hr class="gradient-hr">


                    <%= link_to 'https://github.com/wendellast/Sara-IA-QT/', target: '_blank', class:     'work__button' do %>
                           Github Link <i class='bx bxl-github'></i>
                    <% end %>


                </div>

                <div class="work__card mix web">
                    <%= image_tag 'roberto.jpeg', alt: 'Roberto',  class: 'work__img' %>
                    

                    <h3 class="work__title">Roberto</h3>

                    <hr class="gradient-hr">
                    <div class="tags-container">
                        <a class="tag">Go</a>
                        <a class="tag">C++</a>
                        <a class="tag">Arduino</a>
                        <a class="tag">Esp32</a>
                        <a class="tag">Gin-Gonic</a>
                    </div>
                    <hr class="gradient-hr">


                    <%= link_to 'https://github.com/wendellast/Roberto/', target: '_blank', class:     'work__button' do %>
                           Github Link <i class='bx bxl-github'></i>
                    <% end %>

                </div>


                <div class="work__card mix movil">
                    <%= image_tag 'phyrexia.png', alt: 'phyrexia',  class: 'work__img' %>
                    <h3 class="work__title">Phyrexia-Translate</h3>

                    <hr class="gradient-hr">
                    <div class="tags-container">
                        <a class="tag">Html</a>
                        <a class="tag">Css</a>
                        <a class="tag">JavaScript</a>
                        <a class="tag">Glyphs</a>
                    </div>
                    <hr class="gradient-hr">

                    <%= link_to 'https://phyrexia-font.vercel.app/', target: '_blank', class:     'work__button' do %>
                        Demo <i class='bx bx-right-arrow work__icon'></i>
                    <% end %>

                    <%= link_to 'https://github.com/wendellast/Phyrexia-Font/', target: '_blank', class:     'work__button' do %>
                         Github Link <i class='bx bxl-github'></i>
                    <% end %>



                </div>

            </div>
</section>