<!--=============== Particles ===============-->
<%= render 'particles' %>

    <!--=============== HEADER ===============-->

    <%= render 'header' %>

        <!--=============== MAIN ===============-->
        <main class="main">
            <!--=============== HOME ===============-->
            <%= render 'home' %>

                <!--=============== ABOUT ===============-->
                <%= render 'about' %>

                    <!--=============== SKILLS ===============-->
                    <%= render 'skills' %>

                        <!--=============================== Experince============= -->
                        <!--=============== WORK ===============-->
                        <%= render 'work' %>


                            <!--=============== CONTACT ===============-->
                            <%= render 'contact' %>
        </main>

        <!--=============== FOOTER ===============-->
        <%= render 'footer' %>