<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Wendellast's Portfolio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

   <!--=============== FAVICON ===============-->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('favicons/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('favicons/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('favicons/favicon-16x16.png') %>">
    <link rel="manifest" href="<%= asset_path('favicons/site.webmanifest') %>">
   
    <link rel="shortcut icon" href="<%= asset_path('favicons/favicon.ico') %>">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#a789d4">
    
    <%= javascript_importmap_tags %>

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!--=============== SWIPER CSS ===============-->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "swiper-bundle-min", "data-turbo-track": "reload" %>

  </head>
  <body>
    <%= yield %>

    <!--=============== SCROLLREVEAL ===============-->
    <!-- <script src="assets/js/scrollreveal.min.js"></script> -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <%= javascript_include_tag 'swiper-bundle.min', 'data-turbolinks-track': 'reload' %>

    <!--=============== MIXITUP FILTER ===============-->
    <%= javascript_include_tag 'mixitup.min', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>


    <!--=============== Background  ===============-->
    <%= javascript_include_tag 'particles', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>


    <!--=============== MAIN JS ===============-->
    <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'language', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'music', 'data-turbolinks-track': 'reload' %>
    
    <!--=============== Deploy-vercel ===============-->
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>

    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
  </body>
</html>
